  <!doctype html>
  <html>
    <head>
      <title>Lupa API</title>
      <link rel="stylesheet" href="style.css" type="text/css" />
      <link rel="icon" href="icon.png" type="image/png" />
      <meta charset="utf-8" />
    </head>
    <body>
      <div id="content">
        <div id="header">
          <h1>Lupa</h1>

<ul>
<li><a href="README.html">Home</a> |</li>
<li><a href="http://foicica.com/lupa/download">Download</a> |</li>
<li><a href="api.html">API</a> |</li>
<li><a href="http://foicica.com/hg/lupa">Source</a> |</li>
<li><a href="http://foicica.com/lists">Mailing List</a></li>
</ul>


        </div>
        <div id="main">
          <h1>Lupa API Documentation</h1>
          <p><strong>Modules</strong></p>
          <ol>
<li><a href="#lupa">lupa</a></li>
</ol>


          <hr />
          <p><a id="lupa"></a></p>

<h1>The <code>lupa</code> Module</h1>

<hr />

<p>Lupa is a Jinja2 template engine implementation written in Lua and supports
Lua syntax within tags and variables.</p>

<h2>Functions defined by <code>lupa</code></h2>

<p><a id="_G.cycler"></a></p>

<h3><code>_G.cycler</code>(<em>&hellip;</em>)</h3>

<p>Returns an object that cycles through the given values by calls to its
<code>next()</code> function.
A <code>current</code> field contains the cycler&rsquo;s current value and a <code>reset()</code>
function resets the cycler to its beginning.</p>

<p>Parameters:</p>

<ul>
<li><em><code>...</code></em>: Values to cycle through.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>c = cycler(1, 2, 3)</code></li>
<li><code>c:next(), c:next() --&gt; 1, 2</code></li>
<li><code>c:reset() --&gt; c.current == 1</code></li>
</ul>


<p><a id="_G.range"></a></p>

<h3><code>_G.range</code>(<em>start, stop, step</em>)</h3>

<p>Returns a sequence of integers from <em>start</em> to <em>stop</em>, inclusive, in
increments of <em>step</em>.
The complete sequence is generated at once &ndash; no generator is returned.</p>

<p>Parameters:</p>

<ul>
<li><em><code>start</code></em>: Optional number to start at. The default value is <code>1</code>.</li>
<li><em><code>stop</code></em>: Number to stop at.</li>
<li><em><code>step</code></em>: Optional increment between sequence elements. The default value
is <code>1</code>.</li>
</ul>


<p><a id="lupa.configure"></a></p>

<h3><code>lupa.configure</code>(<em>ts, te, vs, ve, cs, ce, options</em>)</h3>

<p>Configures the basic delimiters and options for templates.
This function then regenerates the grammar for parsing templates.
Note: this function cannot be used iteratively to configure Lupa options.
Any options not provided are reset to their default values.</p>

<p>Parameters:</p>

<ul>
<li><em><code>ts</code></em>: The tag start delimiter. The default value is &lsquo;{%&rsquo;.</li>
<li><em><code>te</code></em>: The tag end delimiter. The default value is &lsquo;%}&rsquo;.</li>
<li><em><code>vs</code></em>: The variable start delimiter. The default value is &lsquo;{{&rsquo;.</li>
<li><em><code>ve</code></em>: The variable end delimiter. The default value is &lsquo;}}&rsquo;.</li>
<li><em><code>cs</code></em>: The comment start delimiter. The default value is &lsquo;{#&rsquo;.</li>
<li><em><code>ce</code></em>: The comment end delimiter. The default value is &lsquo;#}&rsquo;.</li>
<li><p><em><code>options</code></em>: Optional set of options for templates:</p>

<ul>
<li><code>trim_blocks</code>: Trim the first newline after blocks.</li>
<li><code>lstrip_blocks</code>: Strip line-leading whitespace in front of tags.</li>
<li><code>newline_sequence</code>: The end-of-line character to use.</li>
<li><code>keep_trailing_newline</code>: Whether or not to keep a newline at the end of
a template.</li>
<li><code>autoescape</code>: Whether or not to autoescape HTML entities. May be a
function that accepts the template&rsquo;s filename as an argument and returns
a boolean.</li>
<li><code>loader</code>: Function that receives a template name to load and returns the
path to that template.</li>
</ul>
</li>
</ul>


<p><a id="lupa.expand"></a></p>

<h3><code>lupa.expand</code>(<em>template, env</em>)</h3>

<p>Expands the string template <em>template</em>, subject to template environment
<em>env</em>, and returns the result.</p>

<p>Parameters:</p>

<ul>
<li><em><code>template</code></em>: String template to expand.</li>
<li><em><code>env</code></em>: Optional environment for the given template.</li>
</ul>


<p><a id="lupa.expand_file"></a></p>

<h3><code>lupa.expand_file</code>(<em>filename, env</em>)</h3>

<p>Expands the template within file <em>filename</em>, subject to template environment
<em>env</em>, and returns the result.</p>

<p>Parameters:</p>

<ul>
<li><em><code>filename</code></em>: Filename containing the template to expand.</li>
<li><em><code>env</code></em>: Optional environment for the template to expand.</li>
</ul>


<p><a id="filters.batch"></a></p>

<h3><code>filters.batch</code>(<em>t, size, fill</em>)</h3>

<p>Returns a generator that produces all of the items in table <em>t</em> in batches
of size <em>size</em>, filling any empty spaces with value <em>fill</em>.
Combine this with the &ldquo;list&rdquo; filter to produce a list.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table to split into batches.</li>
<li><em><code>size</code></em>: The batch size.</li>
<li><em><code>fill</code></em>: The value to use when filling in any empty space in the last
batch.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% for i in {1, 2, 3}|batch(2, 0) %}{{ i|string }}
{% endfor %}') --&gt; {1, 2} {3, 0}</code></li>
</ul>


<p>See also:</p>

<ul>
<li><a href="#filters.list"><code>filters.list</code></a></li>
</ul>


<p><a id="filters.capitalize"></a></p>

<h3><code>filters.capitalize</code>(<em>s</em>)</h3>

<p>Capitalizes string <em>s</em>.
The first character will be uppercased, the others lowercased.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to capitalize.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "foo bar"|capitalize }}') --&gt; Foo bar</code></li>
</ul>


<p><a id="filters.center"></a></p>

<h3><code>filters.center</code>(<em>s, width</em>)</h3>

<p>Centers string <em>s</em> within a string of length <em>width</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to center.</li>
<li><em><code>width</code></em>: The length of the centered string.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "foo"|center(9) }}') --&gt; "   foo   "</code></li>
</ul>


<p><a id="filters.default"></a></p>

<h3><code>filters.default</code>(<em>value, default, false_defaults</em>)</h3>

<p>Returns value <em>value</em> or value <em>default</em>, depending on whether or not <em>value</em>
is &ldquo;true&rdquo; and whether or not boolean <em>false_defaults</em> is <code>true</code>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value return if &ldquo;true&rdquo; or if <code>false</code> and <em>false_defaults</em>
is <code>true</code>.</li>
<li><em><code>default</code></em>: The value to return if <em>value</em> is <code>nil</code> or <code>false</code> (the latter
applies only if <em>false_defaults</em> is <code>true</code>).</li>
<li><em><code>false_defaults</code></em>: Optional flag indicating whether or not to return
<em>default</em> if <em>value</em> is <code>false</code>. The default value is <code>false</code>.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ false|default("no") }}') --&gt; false</code></li>
<li><code>expand('{{ false|default("no", true) }') --&gt; no</code></li>
</ul>


<p><a id="filters.dictsort"></a></p>

<h3><code>filters.dictsort</code>(<em>t, case_sensitive, by, value</em>)</h3>

<p>Returns a table constructed from table <em>t</em> such that each element is a list
that contains a single key-value pair and all elements are sorted according
to string <em>by</em> (which is either &ldquo;key&rdquo; or &ldquo;value&rdquo;) and boolean
<em>case_sensitive</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>:</li>
<li><em><code>case_sensitive</code></em>: Optional flag indicating whether or not to consider
case when sorting string values. The default value is <code>false</code>.</li>
<li><em><code>by</code></em>: Optional string that specifies which of the key-value to sort by,
either &ldquo;key&rdquo; or &ldquo;value&rdquo;. The default value is <code>"key"</code>.</li>
<li><em><code>value</code></em>: The table to sort.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ {b = 1, a = 2}|dictsort|string }}') --&gt; {{"a", 2},
{"b", 1}}</code></li>
</ul>


<p><a id="filters.e"></a></p>

<h3><code>filters.e</code>(<em>s</em>)</h3>

<p>Returns an HTML-safe copy of string <em>s</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: String to ensure is HTML-safe.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand([[{{ '&lt;"&gt;&amp;'|escape}}]]) --&gt; &amp;lt;&amp;#34;&amp;gt;&amp;amp;</code></li>
</ul>


<p><a id="filters.escape"></a></p>

<h3><code>filters.escape</code>(<em>s</em>)</h3>

<p>Returns an HTML-safe copy of string <em>s</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: String to ensure is HTML-safe.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand([[{{ '&lt;"&gt;&amp;'|e}}]]) --&gt; &amp;lt;&amp;#34;&amp;gt;&amp;amp;</code></li>
</ul>


<p><a id="filters.filesizeformat"></a></p>

<h3><code>filters.filesizeformat</code>(<em>bytes, binary</em>)</h3>

<p>Returns a human-readable, decimal (or binary, depending on boolean <em>binary</em>)
file size for <em>bytes</em> number of bytes.</p>

<p>Parameters:</p>

<ul>
<li><em><code>bytes</code></em>: The number of bytes to return the size for.</li>
<li><em><code>binary</code></em>: Flag indicating whether or not to report binary file size
 as opposed to decimal file size. The default value is <code>false</code>.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ 1000|filesizeformat }}') --&gt; 1.0 kB</code></li>
</ul>


<p><a id="filters.first"></a></p>

<h3><code>filters.first</code>(<em>t</em>)</h3>

<p>Returns the first element in table <em>t</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table to get the first element of.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ range(10)|first }}') --&gt; 1</code></li>
</ul>


<p><a id="filters.float"></a></p>

<h3><code>filters.float</code>(<em>value</em>)</h3>

<p>Returns value <em>value</em> as a float.
This filter only works in Lua 5.3, which has a distinction between floats and
integers.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to interpret as a float.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ 42|float }}') --&gt; 42.0</code></li>
</ul>


<p><a id="filters.forceescape"></a></p>

<h3><code>filters.forceescape</code>(<em>value</em>)</h3>

<p>Returns an HTML-safe copy of value <em>value</em>, even if <em>value</em> was returned by
the &ldquo;safe&rdquo; filter.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: Value to ensure is HTML-safe.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% set x = "&lt;div /&gt;"|safe %}{{ x|forceescape }}') --&gt;
&amp;lt;div /&amp;gt;</code></li>
</ul>


<p><a id="filters.format"></a></p>

<h3><code>filters.format</code>(<em>s, &hellip;</em>)</h3>

<p>Returns the given arguments formatted according to string <em>s</em>.
See Lua&rsquo;s <code>string.format()</code> for more information.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to format subsequent arguments according to.</li>
<li><em><code>...</code></em>: Arguments to format.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "%s,%s"|format("a", "b") }}') --&gt; a,b</code></li>
</ul>


<p><a id="filters.groupby"></a></p>

<h3><code>filters.groupby</code>(<em>t, attribute</em>)</h3>

<p>Returns a generator that produces lists of items in table <em>t</em> grouped by
string attribute <em>attribute</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table to group items from.</li>
<li><em><code>attribute</code></em>: The attribute of items in the table to group by. This may
be nested (e.g. &ldquo;foo.bar&rdquo; groups by t[i].foo.bar for all i).</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% for age, group in people|groupby("age") %}...{% endfor %}')</code></li>
</ul>


<p><a id="filters.indent"></a></p>

<h3><code>filters.indent</code>(<em>s, width, first_line</em>)</h3>

<p>Returns a copy of string <em>s</em> with all lines after the first indented by
<em>width</em> number of spaces.
If boolean <em>first_line</em> is <code>true</code>, indents the first line as well.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to indent lines of.</li>
<li><em><code>width</code></em>: The number of spaces to indent lines with.</li>
<li><em><code>first_line</code></em>: Optional flag indicating whether or not to indent the
first line of text. The default value is <code>false</code>.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "foo\nbar"|indent(2) }}') --&gt; "foo\n  bar"</code></li>
</ul>


<p><a id="filters.int"></a></p>

<h3><code>filters.int</code>(<em>value</em>)</h3>

<p>Returns value <em>value</em> as an integer.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to interpret as an integer.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ 32.32|int }}') --&gt; 32</code></li>
</ul>


<p><a id="filters.join"></a></p>

<h3><code>filters.join</code>(<em>t, sep, attribute</em>)</h3>

<p>Returns a string that contains all the elements in table <em>t</em> (or all the
attributes named <em>attribute</em> in <em>t</em>) separated by string <em>sep</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table to join.</li>
<li><em><code>sep</code></em>: The string to separate table elements with.</li>
<li><em><code>attribute</code></em>: Optional attribute of elements to use for joining instead
of the elements themselves. This may be nested (e.g. &ldquo;foo.bar&rdquo; joins
<code>t[i].foo.bar</code> for all i).</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ {1, 2, 3}|join("|") }}') --&gt; 1|2|3</code></li>
</ul>


<p><a id="filters.last"></a></p>

<h3><code>filters.last</code>(<em>t</em>)</h3>

<p>Returns the last element in table <em>t</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table to get the last element of.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ range(10)|last }}') --&gt; 10</code></li>
</ul>


<p><a id="filters.length"></a></p>

<h3><code>filters.length</code>(<em>value</em>)</h3>

<p>Returns the length of string or table <em>value</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to get the length of.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "hello world"|length }}') --&gt; 11</code></li>
</ul>


<p><a id="filters.list"></a></p>

<h3><code>filters.list</code>(<em>generator, s, i</em>)</h3>

<p>Returns the list of items produced by generator <em>generator</em>, subject to
initial state <em>s</em> and initial iterator variable <em>i</em>.
This filter should only be used after a filter that returns a generator.</p>

<p>Parameters:</p>

<ul>
<li><em><code>generator</code></em>: Generator function that produces an item.</li>
<li><em><code>s</code></em>: Initial state for the generator.</li>
<li><em><code>i</code></em>: Initial iterator variable for the generator.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ range(4)|batch(2)|list|string }}') --&gt; {{1, 2}, {3, 4}}</code></li>
</ul>


<p>See also:</p>

<ul>
<li><a href="#filters.batch"><code>filters.batch</code></a></li>
<li><a href="#filters.groupby"><code>filters.groupby</code></a></li>
<li><a href="#filters.slice"><code>filters.slice</code></a></li>
</ul>


<p><a id="filters.lower"></a></p>

<h3><code>filters.lower</code>(<em>s</em>)</h3>

<p>Returns a copy of string <em>s</em> with all lowercase characters.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to lowercase.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "FOO"|lower }}') --&gt; foo</code></li>
</ul>


<p><a id="filters.map"></a></p>

<h3><code>filters.map</code>(<em>t, filter, &hellip;</em>)</h3>

<p>Maps each element of table <em>t</em> to a value produced by filter name <em>filter</em>
and returns the resultant table.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table of elements to map.</li>
<li><em><code>filter</code></em>: The name of the filter to pass table elements through.</li>
<li><em><code>...</code></em>: Any arguments for the filter.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ {"1", "2", "3"}|map("int")|sum }}') --&gt; 6</code></li>
</ul>


<p><a id="filters.mapattr"></a></p>

<h3><code>filters.mapattr</code>(<em>t, attribute, filter, &hellip;</em>)</h3>

<p>Maps the value of each element&rsquo;s string <em>attribute</em> in table <em>t</em> to the
value produced by filter name <em>filter</em> and returns the resultant table.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table of elements with attributes to map.</li>
<li><em><code>attribute</code></em>: The attribute of elements in the table to filter. This may
be nested (e.g. &ldquo;foo.bar&rdquo; maps t[i].foo.bar for all i).</li>
<li><em><code>filter</code></em>: The name of the filter to pass table elements through.</li>
<li><em><code>...</code></em>: Any arguments for the filter.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ users|mapattr("name")|join("|") }}')</code></li>
</ul>


<p><a id="filters.random"></a></p>

<h3><code>filters.random</code>(<em>t</em>)</h3>

<p>Returns a random element from table <em>t</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table to get a random element from.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ range(100)|random }}')</code></li>
</ul>


<p><a id="filters.reject"></a></p>

<h3><code>filters.reject</code>(<em>t, test, &hellip;</em>)</h3>

<p>Returns a list of elements in table <em>t</em> that fail test name <em>test</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table of elements to reject from.</li>
<li><em><code>test</code></em>: The name of the test to use on table elements.</li>
<li><em><code>...</code></em>: Any arguments for the test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ range(5)|reject(is_odd)|join("|") }}') --&gt; 2|4</code></li>
</ul>


<p><a id="filters.rejectattr"></a></p>

<h3><code>filters.rejectattr</code>(<em>t, attribute, test, &hellip;</em>)</h3>

<p>Returns a list of elements in table <em>t</em> whose string attribute <em>attribute</em>
fails test name <em>test</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table of elements to reject from.</li>
<li><em><code>attribute</code></em>: The attribute of items in the table to reject from. This
may be nested (e.g. &ldquo;foo.bar&rdquo; tests t[i].foo.bar for all i).</li>
<li><em><code>test</code></em>: The name of the test to use on table elements.</li>
<li><em><code>...</code></em>: Any arguments for the test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ users|rejectattr("offline")|mapattr("name")|join(",") }}')</code></li>
</ul>


<p><a id="filters.replace"></a></p>

<h3><code>filters.replace</code>(<em>s, pattern, repl, n</em>)</h3>

<p>Returns a copy of string <em>s</em> with all (or up to <em>n</em>) occurrences of string
<em>old</em> replaced by string <em>new</em>.
Identical to Lua&rsquo;s <code>string.gsub()</code> and handles Lua patterns.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The subject string.</li>
<li><em><code>pattern</code></em>: The string or Lua pattern to replace.</li>
<li><em><code>repl</code></em>: The replacement text (may contain Lua captures).</li>
<li><em><code>n</code></em>: Optional number indicating the maximum number of replacements to
make. The default value is <code>nil</code>, which is unlimited.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% filter upper|replace("FOO", "foo") %}foobar
{% endfilter %}') --&gt; fooBAR</code></li>
</ul>


<p><a id="filters.reverse"></a></p>

<h3><code>filters.reverse</code>(<em>value</em>)</h3>

<p>Returns a copy of the given string or table <em>value</em> in reverse order.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to reverse.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ {1, 2, 3}|reverse|string }}') --&gt; {3, 2, 1}</code></li>
</ul>


<p><a id="filters.round"></a></p>

<h3><code>filters.round</code>(<em>value, precision, method</em>)</h3>

<p>Returns number <em>value</em> rounded to <em>precision</em> decimal places based on string
<em>method</em> (if given).</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The number to round.</li>
<li><em><code>precision</code></em>: Optional precision to round the number to. The default
value is <code>0</code>.</li>
<li><em><code>method</code></em>: Optional string rounding method, either <code>"ceil"</code> or
<code>"floor"</code>. The default value is <code>nil</code>, which uses the common rounding
method (if a number&rsquo;s fractional part is 0.5 or greater, rounds up;
otherwise rounds down).</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ 2.1236|round(3, "floor") }}') --&gt; 2.123</code></li>
</ul>


<p><a id="filters.safe"></a></p>

<h3><code>filters.safe</code>(<em>s</em>)</h3>

<p>Marks string <em>s</em> as HTML-safe, preventing Lupa from modifying it when
configured to autoescape HTML entities.
This filter must be used at the end of a filter chain unless it is
immediately proceeded by the &ldquo;forceescape&rdquo; filter.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to mark as HTML-safe.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>lupa.configure{autoescape = true}</code></li>
<li><code>expand('{{ "&lt;div&gt;foo&lt;/div&gt;"|safe }}') --&gt; &lt;div&gt;foo&lt;/div&gt;</code></li>
</ul>


<p><a id="filters.select"></a></p>

<h3><code>filters.select</code>(<em>t, test, &hellip;</em>)</h3>

<p>Returns a list of the elements in table <em>t</em> that pass test name <em>test</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table of elements to select from.</li>
<li><em><code>test</code></em>: The name of the test to use on table elements.</li>
<li><em><code>...</code></em>: Any arguments for the test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ range(5)|select(is_odd)|join("|") }}') --&gt; 1|3|5</code></li>
</ul>


<p><a id="filters.selectattr"></a></p>

<h3><code>filters.selectattr</code>(<em>t, attribute, test, &hellip;</em>)</h3>

<p>Returns a list of elements in table <em>t</em> whose string attribute <em>attribute</em>
passes test name <em>test</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table of elements to select from.</li>
<li><em><code>attribute</code></em>: The attribute of items in the table to select from. This
may be nested (e.g. &ldquo;foo.bar&rdquo; tests t[i].foo.bar for all i).</li>
<li><em><code>test</code></em>: The name of the test to use on table elements.</li>
<li><em><code>...</code></em>: Any arguments for the test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ users|selectattr("online")|mapattr("name")|join("|") }}')</code></li>
</ul>


<p><a id="filters.slice"></a></p>

<h3><code>filters.slice</code>(<em>t, slices, fill</em>)</h3>

<p>Returns a generator that produces all of the items in table <em>t</em> in <em>slices</em>
number of iterations, filling any empty spaces with value <em>fill</em>.
Combine this with the &ldquo;list&rdquo; filter to produce a list.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table to slice.</li>
<li><em><code>slices</code></em>: The number of slices to produce.</li>
<li><em><code>fill</code></em>: The value to use when filling in any empty space in the last
slice.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% for i in {1, 2, 3}|slice(2, 0) %}{{ i|string }}
{% endfor %}') --&gt; {1, 2} {3, 0}</code></li>
</ul>


<p>See also:</p>

<ul>
<li><a href="#filters.list"><code>filters.list</code></a></li>
</ul>


<p><a id="filters.sort"></a></p>

<h3><code>filters.sort</code>(<em>value, reverse, case_sensitive, attribute</em>)</h3>

<p>Returns a copy of table or string <em>value</em> in sorted order by value (or by
an attribute named <em>attribute</em>), depending on booleans <em>reverse</em> and
<em>case_sensitive</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The table or string to sort.</li>
<li><em><code>reverse</code></em>: Optional flag indicating whether or not to sort in reverse
(descending) order. The default value is <code>false</code>, which sorts in ascending
order.</li>
<li><em><code>case_sensitive</code></em>: Optional flag indicating whether or not to consider
case when sorting string values. The default value is <code>false</code>.</li>
<li><em><code>attribute</code></em>: Optional attribute of elements to sort by instead of the
elements themselves.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ {2, 3, 1}|sort|string }}') --&gt; {1, 2, 3}</code></li>
</ul>


<p><a id="filters.string"></a></p>

<h3><code>filters.string</code>(<em>value</em>)</h3>

<p>Returns the string representation of value <em>value</em>, handling lists properly.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: Value to return the string representation of.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ {1 * 1, 2 * 2, 3 * 3}|string }}') --&gt; {1, 4, 9}</code></li>
</ul>


<p><a id="filters.striptags"></a></p>

<h3><code>filters.striptags</code>(<em>s</em>)</h3>

<p>Returns a copy of string <em>s</em> with any HTML tags stripped.
Also cleans up whitespace.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: String to strip HTML tags from.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "&lt;div&gt;foo&lt;/div&gt;"|striptags }}') --&gt; foo</code></li>
</ul>


<p><a id="filters.sum"></a></p>

<h3><code>filters.sum</code>(<em>t, attribute</em>)</h3>

<p>Returns the numeric sum of the elements in table <em>t</em> or the sum of all
attributes named <em>attribute</em> in <em>t</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table to calculate the sum of.</li>
<li><em><code>attribute</code></em>: Optional attribute of elements to use for summing instead
of the elements themselves. This may be nested (e.g. &ldquo;foo.bar&rdquo; sums
<code>t[i].foo.bar</code> for all i).</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ range(6)|sum }}') --&gt; 21</code></li>
</ul>


<p><a id="filters.title"></a></p>

<h3><code>filters.title</code>(<em>s</em>)</h3>

<p>Returns a copy of all words in string <em>s</em> in titlecase.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to titlecase.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "foo bar"|title }}') --&gt; Foo Bar</code></li>
</ul>


<p><a id="filters.truncate"></a></p>

<h3><code>filters.truncate</code>(<em>s, length, partial_words, delimiter</em>)</h3>

<p>Returns a copy of string <em>s</em> truncated to <em>length</em> number of characters.
Truncated strings end with &lsquo;&hellip;&rsquo; or string <em>delimiter</em>. If boolean
<em>partial_words</em> is <code>false</code>, truncation will only happen at word boundaries.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to truncate.</li>
<li><em><code>length</code></em>: The length to truncate the string to.</li>
<li><em><code>partial_words</code></em>: Optional flag indicating whether or not to allow
truncation within word boundaries. The default value is <code>false</code>.</li>
<li><em><code>delimiter</code></em>: Optional delimiter text. The default value is &lsquo;&hellip;&rsquo;.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "foo bar"|truncate(4) }}') --&gt; "foo ..."</code></li>
</ul>


<p><a id="filters.upper"></a></p>

<h3><code>filters.upper</code>(<em>s</em>)</h3>

<p>Returns a copy of string <em>s</em> with all uppercase characters.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to uppercase.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "foo"|upper }}') --&gt; FOO</code></li>
</ul>


<p><a id="filters.urlencode"></a></p>

<h3><code>filters.urlencode</code>(<em>value</em>)</h3>

<p>Returns a string suitably encoded to be used in a URL from value <em>value</em>.
<em>value</em> may be a string, table of key-value query parameters, or table of
lists of key-value query parameters (for order).</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: Value to URL-encode.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ {{'f', 1}, {'z', 2}}|urlencode }}') --&gt; f=1&amp;z=2</code></li>
</ul>


<p><a id="filters.urlize"></a></p>

<h3><code>filters.urlize</code>(<em>s, length, nofollow</em>)</h3>

<p>Replaces any URLs in string <em>s</em> with HTML links, limiting link text to
<em>length</em> characters.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to replace URLs with HTML links in.</li>
<li><em><code>length</code></em>: Optional maximum number of characters to include in link text.
The default value is <code>nil</code>, which imposes no limit.</li>
<li><em><code>nofollow</code></em>: Optional flag indicating whether or not HTML links will get a
&ldquo;nofollow&rdquo; attribute.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "example.com"|urlize }}') --&gt;
&lt;a href="http://example.com"&gt;example.com&lt;/a&gt;</code></li>
</ul>


<p><a id="filters.wordcount"></a></p>

<h3><code>filters.wordcount</code>(<em>s</em>)</h3>

<p>Returns the number of words in string <em>s</em>.
A word is a sequence of non-space characters.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to count words in.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{{ "foo bar baz"|wordcount }}') --&gt; 3</code></li>
</ul>


<p><a id="filters.xmlattr"></a></p>

<h3><code>filters.xmlattr</code>(<em>t</em>)</h3>

<p>Interprets table <em>t</em> as a list of XML attribute-value pairs, returning them
as a properly formatted, space-separated string.</p>

<p>Parameters:</p>

<ul>
<li><em><code>t</code></em>: The table of XML attribute-value pairs.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('&lt;data {{ {foo = 42, bar = 23}|xmlattr }} /&gt;')</code></li>
</ul>


<p><a id="loaders.filesystem"></a></p>

<h3><code>loaders.filesystem</code>(<em>directory</em>)</h3>

<p>Returns a loader for templates that uses the filesystem starting at directory
<em>directory</em>.
When looking up the template for a given filename, the loader considers the
following: if no template is being expanded, the loader assumes the given
filename is relative to <em>directory</em> and returns the full path; otherwise the
loader assumes the given filename is relative to the current template&rsquo;s
directory and returns the full path.
The returned path may be passed to <code>io.open()</code>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>directory</code></em>: Optional the template root directory. The default value is
&ldquo;.&rdquo;, which is the current working directory.</li>
</ul>


<p>See also:</p>

<ul>
<li><a href="#lupa.configure"><code>lupa.configure</code></a></li>
</ul>


<p><a id="lupa.reset"></a></p>

<h3><code>lupa.reset</code>()</h3>

<p>Resets Lupa&rsquo;s default delimiters, options, and environments to their
original default values.</p>

<p><a id="tests.is_callable"></a></p>

<h3><code>tests.is_callable</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is a function.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_callable(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_defined"></a></p>

<h3><code>tests.is_defined</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is non-nil, and thus defined.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_defined(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_divisibleby"></a></p>

<h3><code>tests.is_divisibleby</code>(<em>n, num</em>)</h3>

<p>Returns whether or not number <em>n</em> is evenly divisible by number <em>num</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>n</code></em>: The dividend to test.</li>
<li><em><code>num</code></em>: The divisor to use.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_divisibleby(x, y) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_escaped"></a></p>

<h3><code>tests.is_escaped</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is HTML-safe.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_escaped(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_even"></a></p>

<h3><code>tests.is_even</code>(<em>n</em>)</h3>

<p>Returns whether or not number <em>n</em> is even.</p>

<p>Parameters:</p>

<ul>
<li><em><code>n</code></em>: The number to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% for x in range(10) if is_even(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_iterable"></a></p>

<h3><code>tests.is_iterable</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is a sequence (a table with non-zero
length) or a generator.
At the moment, all functions are considered generators.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_iterable(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_lower"></a></p>

<h3><code>tests.is_lower</code>(<em>s</em>)</h3>

<p>Returns whether or not string <em>s</em> is in all lower-case characters.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_lower(s) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_mapping"></a></p>

<h3><code>tests.is_mapping</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is a table.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_mapping(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_nil"></a></p>

<h3><code>tests.is_nil</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is nil.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_nil(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_none"></a></p>

<h3><code>tests.is_none</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is nil.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_none(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_number"></a></p>

<h3><code>tests.is_number</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is a number.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_number(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_odd"></a></p>

<h3><code>tests.is_odd</code>(<em>n</em>)</h3>

<p>Returns whether or not number <em>n</em> is odd.</p>

<p>Parameters:</p>

<ul>
<li><em><code>n</code></em>: The number to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% for x in range(10) if is_odd(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_sameas"></a></p>

<h3><code>tests.is_sameas</code>(<em>value, other</em>)</h3>

<p>Returns whether or not value <em>value</em> is the same as value <em>other</em>.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
<li><em><code>other</code></em>: The value to compare with.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_sameas(x, y) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_sequence"></a></p>

<h3><code>tests.is_sequence</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is a sequence, namely a table with
non-zero length.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_sequence(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_string"></a></p>

<h3><code>tests.is_string</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is a string.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_string(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_table"></a></p>

<h3><code>tests.is_table</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is a table.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_table(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_undefined"></a></p>

<h3><code>tests.is_undefined</code>(<em>value</em>)</h3>

<p>Returns whether or not value <em>value</em> is nil, and thus effectively undefined.</p>

<p>Parameters:</p>

<ul>
<li><em><code>value</code></em>: The value to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_undefined(x) %}...{% endif %}')</code></li>
</ul>


<p><a id="tests.is_upper"></a></p>

<h3><code>tests.is_upper</code>(<em>s</em>)</h3>

<p>Returns whether or not string <em>s</em> is in all upper-case characters.</p>

<p>Parameters:</p>

<ul>
<li><em><code>s</code></em>: The string to test.</li>
</ul>


<p>Usage:</p>

<ul>
<li><code>expand('{% if is_upper(s) %}...{% endif %}')</code></li>
</ul>


<h2>Tables defined by <code>lupa</code></h2>

<p><a id="lupa.env"></a></p>

<h3><code>lupa.env</code></h3>

<p>The default template environment.</p>

<p><a id="lupa.filters"></a></p>

<h3><code>lupa.filters</code></h3>

<p>Lupa&rsquo;s expression filters.</p>

<p><a id="lupa.loaders"></a></p>

<h3><code>lupa.loaders</code></h3>

<p>Lupa&rsquo;s template loaders.</p>

<p><a id="lupa.tests"></a></p>

<h3><code>lupa.tests</code></h3>

<p>Lupa&rsquo;s value tests.</p>

<hr />

        </div>
        <div id="footer">
          <p style="text-align:center;"> &copy; 2015 Mitchell mitchell.att.foicica.com</p>

        </div>
      </div>
    </body>
  </html>
